<footer class="footer text-center">
    <div id="bottom-inner">
      <a href="http://blog.meiqiu.me" target="_blank"><%=config.title%></a> |
      <a href="http://meiqiu.me" target="_blank">主站</a> |
      <a href="https://xiao.meiqiu.me" target="_blank">小煤球</a> |
      <a href="https://github.com/microacup" target="_blank">GitHub</a> |
      <a href="http://hexo.io" target="_blank">Hexo</a> |
      <a href="https://github.com/microacup/hexo-theme-micorb" target="_blank">Theme microb</a>
    </div>
  </footer>