<footer class="footer text-center">
    <div id="bottom-inner">
      <% Object.keys(theme.links).forEach(function(key) { %>
        <a href="<%=theme.links[key]%>" target="_blank" class="footer-link"><%= __(key)%></a>
      <% }); %>
    </div>
  </footer>